.containerWorkDay {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 90%;
  height: 95%;
  background-color: blue;
}

.next {
  position: absolute;
  right: 0;
  top: 50%;
  transform: rotate(180deg);
}

.prev {
  position: absolute;
  left: 0;
  top: 50%;
}

.headerWorkDay {
  background-color: green;
  display: flex;
  justify-content: space-between;
  height: 30px;
  width: 100%;
  align-items: center;
}

.container-exercises {
  background-color: yellow;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.arrumar {
  display: flex;
}

.btnClose {
  border: none;
  margin-right: 20px;
}

.marginHeader {
  margin-left: 20px;
}

.title-exercises {
  text-align: center;
  background-color: red;
  height: 100%;
}

.title-exercises p {
  height: 25px;
}

.exercises {
  display: flex;
  justify-content: space-around;
}

.img-exercices {
  width: 210px;
  height: 210px;
  object-fit: cover;
}

.blocks{
  height: 250px;
  width: 250px;
  margin-bottom: 20px;
}

.blocks:hover .img-exercices {
  width: 230px;
  height: 230px;
  cursor: pointer;
} 

.blocks:hover .tittle{
  font-size: 18px;
  cursor: pointer;
} 

.tittle {
  padding-bottom: 10px;
}