.wrapContent {
  width: 90%;
  height: 20%;
  background-color: blue;
}

.weekDays {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: green;
}

.day {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}