.explication {
  width: 100%;
  height: 100%;
  background-color: pink;
  position: absolute;
  z-index: 1;
}

.header-explication{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.tittle-explication {
  width: 60%;
  display: flex;
  justify-content: flex-end;
}

.close-box {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.body-explanation {
  display: flex;
}

.image-muscle {
  width: 250px;
  height: 250px;
}

.texts {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 20px;
  justify-content: center;
  height: 250px;
  margin-left: 10px;
}

.teste {
  display: flex;
  width: 30%;
  justify-content: center;
}